@import url("../../global/reset.css");
@import url("./fonts.css");

:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --transparentWhite: hsla(0, 0%, 100%, 0.75);
  --veryLightGray: hsl(0, 0%, 95%);
  --transition: 50ms ease-in-out;
}

body {
  font-size: 1rem;
  background-color: var(--veryLightGray);
}

h1 {
  font-family: 'Big Shoulders Display';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--veryLightGray);
}

p {
  font-family: 'Lexend Deca';
  font-weight: 400;
  color: var(--transparentWhite);
  line-height: 1.5rem;
  padding-bottom: 2rem;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 4rem 1.5rem;
}

.container-card {
  padding: 2.75rem;
  max-width: calc(0.55 * 375px);
}

.sedan-card {
  background-color: var(--brightOrange);
  color: var(--brightOrange);
  border-radius: 0.5rem 0.5rem 0 0;
}

.suvs-card {
  background-color: var(--darkCyan);
  color: var(--darkCyan);

}

.luxury-card {
  background-color: var(--veryDarkCyan);
  color: var(--veryDarkCyan);
  border-radius: 0 0 0.5rem 0.5rem;
}

.button {
  font-family: 'Lexend Deca';
  text-align: center;
  background-color: var(--veryLightGray);
  width: 50%;
  border-radius: 2rem;
  padding: 0.75rem 1.75rem;
}

.button:hover {
  cursor: pointer;
  background-color: inherit;
  color: var(--veryLightGray);
  outline: 2px solid;
  transition: var(--transition);
}

@media(min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }

  .container-card {
    max-width: calc(0.5 * 375px);
  }

  .sedan-card {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .luxury-card {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .button {
    width: 65%;
    border-radius: 2rem;
  }

  p {
    padding-bottom: 4rem;
  }
}