/*
- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

- Font size (paragraph): 16px

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900
*/

/* RESET AND ELEMENTS SETTINGS */

@import url("../../reset.css");

:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --transition: 500ms ease-in-out;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplay-Medium.ttf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplay-Bold.ttf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url(fonts/RedHatDisplay-Black.ttf) format("opentype");
  font-weight: 900;
}

body {
  background: url(../images/pattern-background-desktop.svg);
  background-size: cover;
  background-position: center;
  background-color: var(--veryPaleBlue);
  font-family: 'Red Hat Display', sans-serif;
}

a {
  text-decoration: none;
  font-size: 16px;
}


h1 {
  font-weight: 900;
  color: var(--darkBlue);
  font-size: 26px;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
}

.info-description {
  font-weight: 500;
  color: var(--desaturatedBlue);
  text-align: center;
  font-size: 16px;
  max-width: 80%;
  line-height: 1.5rem;
}

/* LAYOUT AND MAIN STYLING*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  max-width: 450px;
}

.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container-hero {
  border-radius: 1rem 1rem 0 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.info-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--veryPaleBlue);
  padding: 1rem;
}

.details-text {
  display: flex;
  flex-direction: column;
}


.payment-btn {
  margin: 1.75rem;
}

.cancel-link {
  margin-bottom: 1.75rem;
}

/* DETAILS */
.payment-btn {
  background-color: var(--brightBlue);
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 900;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 14px;
}

.cancel-link {
  color: var(--desaturatedBlue);
  font-weight: 900;
  font-size: 14px;
}