@import url("../../global/reset.css");
@import url("./fonts.css");

:root {
  /* colors text */
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  /* colors bg gradient */
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  /* colors divider */
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

body {
  font-family: 'Kumbh Sans';
  background: linear-gradient(var(--softViolet), var(--softBlue));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 0.75rem;

}

h1 {
  font-size: 1.5rem;
  color: var(--veryDarkDesaturatedBlue);

}

main {
  background-color: #ffffff;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: -200% 60%;
  display: flex;
  border-radius: 1rem;
  padding: 3rem 3rem 3rem 0;
  margin: 4rem;
  width: 50rem;
}

.img-container {
  align-self: center;
  overflow: hidden;
  margin: 0;

}

#desktop-img {
  position: relative;
  right: 5rem;
  width: 95%;
}

#mobile-img {
  display: none;
}

.faq-container {
  width: 50%;
}

.faq-container>div:last-child {
  margin-bottom: 0;
}

.checkbox {
  display: none;
}

.faq-question {
  font-weight: 400;
  color: var(--veryDarkGrayishBlue);
  display: grid;
  grid-template-columns: 1fr auto 1rem;
  border-bottom: 1px solid var(--lightGrayishBlue);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.arrow-icon {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.faq-question-title {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  padding-right: 1.5rem;
}

.faq-question-title:hover {
  color: var(--softRed);
  cursor: pointer;
}

.arrow-icon {
  cursor: pointer;
  transition: transform .25s ease-out;
}

.faq-question-answer {
  margin: 0;
  color: var(--darkGrayishBlue);
  grid-column: 1 / 2;
  grid-row: 2;
  opacity: 0;
  height: 0;
}

input:checked~.arrow-icon {
  transform: rotate(180deg);
}

input:checked~.faq-question-title {
  color: var(--veryDarkDesaturatedBlue);
  font-weight: 700;
}

input:checked~.faq-question-answer {
  grid-column: 1 / 2;
  grid-row: 2;
  opacity: 100;
  height: inherit;
  padding-top: 0.5rem;
  transition: opacity .25s;
}

@media (max-width: 768px) {
  main {
    padding: 2.5rem 2.5rem 2.5rem 0;
    margin: 3rem;
    transition: all .25s;
  }

  .faq-container {
    width: 70%;
    transition: all .25s;
  }

  #desktop-img {
    width: 100%;
  }
}

@media (max-width: 640px) {
  main {
    padding: 2rem 2rem 2rem 0;
    margin: 0 2rem;
    transition: all .25s;
  }

  .faq-container {
    width: 75%;
    transition: all .25s;
  }
}

@media (max-width: 550px) {
  main {
    background-image: url(../images/bg-pattern-mobile.svg);
    background-size: 80%;
    background-position: 50% 50%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 2rem;
  }

  .faq-container {
    padding: 0 1rem 2rem 1rem;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .img-container {
    overflow: visible;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -5rem;
  }

  .faq-question-title:hover {
    color: inherit;
    cursor: auto;
  }
}