@import url("../../global/reset.css");
@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --darkGrayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
}

body {
  font-family: 'Kumbh Sans';
  font-size: 1rem;
  background-color: var(--darkCyan);
  text-align: center;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
  color: var(--veryDarkDesaturatedBlue);
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

.metrics-card>span {
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
}

.age-text,
.location-text,
.metrics-card>span {
  font-weight: 400;
  color: var(--darkGrayishBlue);
}

.location-text {
  font-size: 0.8rem;
}

hr {
  background-color: var(--darkGray);
  opacity: 0.2;
  size: 0.1px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

.container {
  background-color: white;
  border-radius: 1rem;
  background-size: cover;
  max-width: calc(375px * 0.9);
  margin: 1rem;
}

.container-bg {
  border-radius: 1rem 1rem 0 0;
  max-width: 100%;
}

.container-info {
  position: relative;
  top: -3rem;
}

.profile-img {
  border-radius: 50%;
  border: 0.25rem solid white;
  padding-bottom: 1rem;
}

.profile-info {
  display: grid;
  position: relative;
  padding-bottom: 1.25rem;
}

.profile-info>h1 {
  grid-row: 1;
  padding-bottom: 0.5rem;
}

.profile-info>span:last-of-type {
  grid-row: 2;
}

.container-metrics {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.25rem;
}