@import url("../../global/reset.css");
@import url("./fonts.css");

:root {
  --lexendDecaFont: 'Lexend Deca', sans-serif;
  --interFont: 'Inter', sans-serif;
  --mainBgColor: hsl(233, 47%, 7%);
  --cardBgColor: hsl(244, 38%, 16%);
  --accentColor: hsl(277, 64%, 61%);
  --whiteColor: hsl(0, 0%, 100%);
  --pColor: hsla(0, 0%, 100%, 0.75);
  --statHeadingsColor: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: var(--interFont);
  color: var(--whiteColor);
  text-align: center;
  background-color: var(--mainBgColor);
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

h2 {
  font-family: var(--lexendDecaFont);
  color: var(--pColor);
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1>span {
  color: var(--accentColor);
}

p {
  font-family: var(--lexendDecaFont);
  color: var(--pColor);
  font-weight: 300;
  font-size: 15px;
  line-height: 1.75rem;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 1.5rem;
  background-color: var(--cardBgColor);
  max-width: 375px;
  border-radius: 0.75rem;
}

.img-box {
  background-image: url('../images/image-header-mobile.jpg');
  background-size: cover;
  background-position: top;
  background-color: var(--accentColor);
  background-blend-mode: multiply;
  border-radius: 0.75rem 0.75rem 0 0;
  width: 100%;
  padding-top: 15rem;
  max-height: 250px;
  filter: contrast(0.8) saturate(1.5);
}

.content-box {
  padding: 2rem;
}

.info-box {
  padding-bottom: 1rem;
}

.info-inner-box {
  padding-bottom: 1rem;
}

.info-inner-box>span {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 275px) {
  .img-box {
    max-height: 150px;
    background-position: top;
  }
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 800px;
  }

  .content-container {
    padding: 2rem;
  }

  .content-box {
    text-align: left;
  }

  .info-box {
    display: flex;
    justify-content: space-around;
  }

  .img-box {
    background-image: url('../images/image-header-desktop.jpg');
    border-radius: 0 0.75rem .75rem 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
  }

  .content-container {
    padding: 2rem;
  }

  .content-box {
    text-align: left;
  }

  .info-box {
    display: flex;
    justify-content: space-around;
  }

  .img-box {
    background-image: url('../images/image-header-desktop.jpg');
    border-radius: 0 0.75rem .75rem 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}